
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h4> Filter Options</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class=" form-group text-center">
                <label>Filter By:</label>

                <select name="day">
                    <option value="all">All Days</option>
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                </select>
                <select name="module-code">
                    <option value="all">All Modules</option>

                    <option value="COA101">COA101</option>
                </select>
            </div>
            <div class="form-group text-center">
                <label>
                    <input type="checkbox" value="A" name="status[]" checked="checked" />
                    Accepted
                </label>


                <label>
                    <input type="checkbox" value="X" name="status[]" checked="checked" />
                    Reallocated
                </label>

                <label>
                    <input type="checkbox" value="R" name="status[]" checked="checked" />
                    Rejected
                </label>
            </div>
            <div class=" text-center">
                <input type="submit" value="Go" class="btn btn-success" />
            </div>
        }
    </div>
</div>