
@{
    ViewBag.Title = "Request Responses";
}

<h2>Request Responses</h2>

<div class="filterbox">
    @using (Html.BeginForm())
    {
      <p>
                        <label>Filter By:</label>
                       
                        <select name="day">
                                <option value="all">All Days</option>
                                <option value="1" >Monday</option><option value="2" >Tuesday</option><option value="3" >Wednesday</option><option value="4" >Thursday</option><option value="5" >Friday</option>                        </select>
                       
                        <select name="module-code">
                                <option value="all">All Modules</option>
                               
                                <option value="COA101"  >COA101</option><option value="COA102"  >COA102</option><option value="COA105"  >COA105</option><option value="COA107"  >COA107</option><option value="COA122"  >COA122</option><option value="COA123"  >COA123</option><option value="COA124"  >COA124</option><option value="COA220"  >COA220</option><option value="COA256"  >COA256</option><option value="COB100"  >COB100</option><option value="COB101"  >COB101</option><option value="COB106"  >COB106</option><option value="COB107"  >COB107</option><option value="COB108"  >COB108</option><option value="COB120"  >COB120</option><option value="COB150"  >COB150</option><option value="COB201"  >COB201</option><option value="COB231"  >COB231</option><option value="COB232"  >COB232</option><option value="COB249"  >COB249</option><option value="COB251"  >COB251</option><option value="COB290"  >COB290</option><option value="COB295"  >COB295</option><option value="COB301"  >COB301</option><option value="COC001"  >COC001</option><option value="COC003"  >COC003</option><option value="COC100"  >COC100</option><option value="COC101"  >COC101</option><option value="COC102"  >COC102</option><option value="COC104"  >COC104</option><option value="COC131"  >COC131</option><option value="COC140"  >COC140</option><option value="COC170"  >COC170</option><option value="COC180"  >COC180</option><option value="COC190"  >COC190</option><option value="COC200"  >COC200</option><option value="COC201"  >COC201</option><option value="COC202"  >COC202</option><option value="COC220"  >COC220</option><option value="COC251"  >COC251</option><option value="COC253"  >COC253</option><option value="COC255"  >COC255</option><option value="COC257"  >COC257</option><option value="COC259"  >COC259</option><option value="COC281"  >COC281</option><option value="COC800"  >COC800</option><option value="COC801"  >COC801</option><option value="COC802"  >COC802</option><option value="COD280"  >COD280</option><option value="COD290"  >COD290</option><option value="COD292"  >COD292</option><option value="COD950"  >COD950</option><option value="COF180"  >COF180</option><option value="COF181"  >COF181</option><option value="COI001"  >COI001</option><option value="COI002"  >COI002</option><option value="COP324"  >COP324</option><option value="COP325"  >COP325</option><option value="COP326"  >COP326</option><option value="COP400"  >COP400</option><option value="COP420"  >COP420</option><option value="COP449"  >COP449</option><option value="COP451"  >COP451</option><option value="COP452"  >COP452</option><option value="COP453"  >COP453</option><option value="COP455"  >COP455</option><option value="COP500"  >COP500</option><option value="COP501"  >COP501</option><option value="COP502"  >COP502</option><option value="COP505"  >COP505</option><option value="COP506"  >COP506</option><option value="COP507"  >COP507</option><option value="COP511"  >COP511</option><option value="COP512"  >COP512</option><option value="COP514"  >COP514</option><option value="COP515"  >COP515</option><option value="COP516"  >COP516</option><option value="COP518"  >COP518</option><option value="COP521"  >COP521</option><option value="COP522"  >COP522</option><option value="COP531"  >COP531</option><option value="COP532"  >COP532</option><option value="COP533"  >COP533</option>                        </select>
                       
                        <label>
                                <input type="checkbox" value="A" name="status[]" checked="checked"/>
                                Accepted
                        </label>
                       
                        <label>
                                <input type="checkbox" value="X" name="status[]" checked="checked"/>
                                Reallocated
                        </label>
                       
                        <label>
                                <input type="checkbox" value="R" name="status[]" checked="checked"/>
                                Rejected
                        </label>
                       
                </p>
               
                <p>
                        <input type="submit" value="Go" class="button" />
                </p>  
    }

</div>

<hr />